*{box-sizing: border-box;}

body{
	font-family: 'Orbitron', sans-serif;
	line-height: 1.5;
	font-size: 16px;

}

.home-wrapper{
	background: linear-gradient(rgba(0 , 0 , 0 , 0.6) , rgba(0 , 0 , 0 , 0.6)) , url('../img/fondo0.jpg') no-repeat center top;
	background-size: cover;
	color: white;
}

header{
	position: fixed;
	padding: 15px 0;
	width: 100%;
	background-color: rgba(0 , 0 , 0 , 1);

}

header nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 5px 0;


}



 header nav a{
 	color: white;
 	font-size: 20px;
 	text-decoration: none;
 	font-weight: bold;
 	margin-left: 5px;
 	margin-right: 5px;
 	padding: 5px 10px;

 }

 header nav a:hover {
   border-bottom: 2px solid red;
 }

.container-home{
	
	text-align: center;

}

.container-home img{
	width: 200px;
    height: 200px;
    margin: 100px 0px 0px 0px;
    border: 7px solid white;

    /*background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 20px;

}

#home-text{
	padding-top: 30px;
	padding-bottom: 60px;
}

.container-home h1{
	font-size: 70px;
	font-weight: bold;
	color: red;
	margin: 0;
}

.container-home h2{
	font-size: 35px;
	margin:0;
}

/*ESTILO SECCIÓN YO*/


.container{
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}


#yo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.descripcion h2{
	text-align: center;
	padding-bottom: 30px;
}
.descripcion{
	text-align: justify;

}

/**************/
/*ESTILO SECCIÓN PEFIL*/
#perfil{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

section #descripcion-perfil{
	margin-left: 20px;
}

section p span{
	font-size: 18px;
	font-weight: bold;
}

/*habilidades*/
.habilidades h2{
	text-align: center;
}

#habilidades{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;


}
#habilidades .box{
	text-align: center;
	width: 33%;
	padding: 10px;
}

/*footer*/

footer{
  /*position:relative;*/
  background-color: black;
  height: 150px;

}

.redes-sociales{
  width: 30%;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}



footer .redes-sociales a{
	color:white;
	border-radius: 50%;
	background-color: black;
	font-size: 32px;
	font-weight: bold;
	height: 50px;
	width: 50px;

}

footer p{
	color: white;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

/*ESTILOS PARA MÓVIL*/
@media(max-width: 600px){
		
	header{
		padding:0;
	}
	header nav{
      display:flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  align-items: center;
	  font-size: 20px;
	  margin-top: 0;

	}	

	 header nav a{
	 	color: white;
	 	text-decoration: none;
	 	font-weight: bold;
	 	margin:auto;
	 	border-radius: 0;
	 	background-color: rgba(255, 255 , 255 , 0);
     }

     header nav a:hover{
     	width: 100%;
     	text-align: center;
     	background-color: red;
     }

	.container-home img{
		width: 200px;
	    height: 200px;
	    margin: 150px 0px 0px 0px;
	    border: 7px solid white;  
	    border-radius: 20px;

    }

	.container-home h1{
		font-size: 40px;
		font-weight: bold;
		color: red;
		margin: 0;
    }

    .container-home h2{
		font-size: 25px;
		margin:0;
    }

	#yo, #perfil, #habilidades{
		flex-direction: column;
		-webkit-flex-direction:column;
	}
		
	section .imagen-yo, section .imagen-perfil{
		order: 1;
	}

     #habilidades .box{
		margin: 0 auto;	
		width: 100%;
		
	}

    /*.redes-sociales{
    	float: left;
    }*/
	footer{
		height: 200px;
		overflow: auto;
	}

	footer p {
		font-size: 22px;
		width: 70%;
		margin: 10px auto;
		text-align: center;
	}
}
