*{box-sizing: border-box;}

body{
	font-family: 'Orbitron', sans-serif;
	line-height: 1.5;
	font-size: 16px;

}

.home-wrapper{
	background: linear-gradient(rgba(0 , 0 , 0 , 0.6) , rgba(0 , 0 , 0 , 0.6)) , url('../img/fondo0.jpg') no-repeat center top;
	background-size: cover;
	color: white;
}

header{
	position: fixed;
	padding: 15px 0;
	width: 100%;
	background-color: rgba(0 , 0 , 0 , 0.7);

}

header nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 5px 0;


}



 header nav a{
 	color: white;
 	font-size: 20px;
 	text-decoration: none;
 	font-weight: bold;
 	margin-left: 5px;
 	margin-right: 5px;
 	padding: 5px 10px;

 }

 header nav a:hover {
   border-bottom: 2px solid red;
 }

.container-home{
	
	text-align: center;

}

.container-home img{
	width: 200px;
    height: 200px;
    margin: 100px 0px 0px 0px;
    border: 7px solid white;  
    border-radius: 20px;

}

#home-text{
	padding-top: 30px;
	padding-bottom: 60px;
}

.container-home h1{
	font-size: 70px;
	font-weight: bold;
	color: red;
	margin: 0;
}

.container-home h2{
	font-size: 35px;
	margin:0;
}

/*ESTILO SECCIÓN YO*/


.container{
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}


#yo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.descripcion h2{
	text-align: center;
}
.descripcion{
	text-align: justify;

}

/**************/
/*ESTILO SECCIÓN PEFIL*/
#perfil{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

section #descripcion-perfil{
	margin-left: 20px;
}

section p span{
	font-size: 18px;
	font-weight: bold;
}

/*habilidades*/
#habilidades h2{
	text-align: center;
}


#habilidades .box{
	display:inline-block;
	text-align: center;
	width: 33%;
	padding: 10px;
}

/*footer*/

footer{
  position: relative;
  background-color: black;
  height: 100px;
  padding: 50px;
}

footer .redes-sociales{
   position:absolute;
   display: inline-block;
   left: 400px;
  

}

footer .redes-sociales a{
	color:white;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

/*ESTILOS PARA MÓVIL*/
@media(max-width: 400px){
		
	header{
		padding-top: 0;
	}
	header nav{
      display:flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  align-items: center;
	  font-size: 20px;
	  margin-top: 0;

	}	

	 header nav a{
	 	color: white;
	 	text-decoration: none;
	 	font-weight: bold;
	 	margin-left: 5px;
	 	margin-right: 5px;
	 	padding: 5px 10px;
	 	border-radius: 5px;
	 	background-color: rgba(255, 255 , 255 , 0);
     }

     header nav a:hover{
     	width: 100%;
     	text-align: center;
     	background-color: red;
     }

	.container-home img{
		width: 200px;
	    height: 200px;
	    margin: 150px 0px 0px 0px;
	    border: 7px solid white;  
	    border-radius: 20px;

    }

	.container-home h1{
		font-size: 40px;
		font-weight: bold;
		color: red;
		margin: 0;
    }

    .container-home h2{
		font-size: 25px;
		margin:0;
    }

	#yo{
		flex-direction: column;
		-webkit-flex-direction:column;
	}

    #perfil{
    	flex-direction: column;
    	-webkit-flex-direction:column;
    }
	section .imagen-yo, section .imagen-perfil{
		order: 1;
	}
}
